<p id="notice"><%= notice %></p>
<p> You are on team blue.<br>
  Click on one of the areas where you have minions to select it, and then on either <br>
  1. your team's area to move them OR <br>
  2. another team's area to attack it <br>
  See the JS console for debugging info.
</p>
<p> All attacks are hardcoded to succeed. 
</p>


<div id="GameMap" style="position: relative;"><img src="/assets/campus.png" alt="Some text"/>
</div>