<h1 style="color:blue;"> You are on Team Blue</h1>
<p>
  Click on one of the areas where you have minions to select it, and then on either <br>
  1. your team's area to move them OR <br>
  2. another team's area to attack it <br>
  See the JS console for debugging info.
</p>
<p> All attacks are hardcoded to succeed. (we are testing this game right now) 
</p>
<br>
Check out <a href='http://www.edwontgo.com'>Ed Won't Go</a> for another fun app we developed.

<br><br>


<div id="GameBox">
	<ul id="navbar"></ul>
	
	<div id="GameView" style="position: relative;"><img src="/assets/campus.png" alt="Some text"/>
	</div>
</div>