<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<h1>Welcome to LindenHoney!</h1>
    <p>
      You have successfully signed up for updates for LindenHoney! <%= @url %> <br/> <br />
      We'll keep you posted about any important news.
    </p>
    <p>
      Thanks for joining and have a great day! <br />
      - The LindenHoney Team
	</p>
  </body>
</html>