// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#GameView {
	position: relative;
	height: 657px;
	clear:both;
}

#GameBox {
	margin:0 auto;
	display:block;
	width:631px;
	height: 800px;
	text-align:center;	
}

#GameBox ul {
	float:left;
	width:inherit;
	padding:0;
	margin:0;
}

#GameBox ul li {
	list-style:none;
	float:left;
	line-height:1em;
}

#infobar li {
	font-size:180%;
}

#infobar #minionPool {
	width:15%;
}

#infobar #teamName {
	width:35%;
	text-transform:capitalize;
}

#infobar #userName {
	width:50%;
}


#navbar li {
	width:50%;
	font-size:250%;
}

#GameBox ul a {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#GameBox ul a:active,
#GameBox ul a:link,
#GameBox ul a:visited {
	position:relative;
	z-index:102;
}

#GameBox ul a:hover,
#GameBox ul a.active {
	background: #bbb;
}

p {
	margin: 0;
	padding: 13px 0;
}